/* Application-wide Styles */
h1 {
    color: #36566a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #36566a;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  body, input[type="text"], button {
    color: #242323;
    font-family: Cambria, Georgia, serif;
  }

  .mat-mdc-row:hover  .mat-mdc-cell{
    background-color: #95b7c4;
  }

  .mat-column-edit {
    min-width: 100px;
  }
  .mat-column-delete {
    min-width: 110px;
  }

  .blue{
    font-weight: bold;
    color: blue;
  }

  .teal{
    font-weight: bold;
    color: teal;
  }

  .green{
    font-weight: bold;
    color: green;
  }

  .yellow{
    font-weight: bold;
    color: gold;
  }

  .red{
    font-weight: bold;
    color: red;
  }

  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dedede;
  }