/* Application-wide Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia, serif;
  }
  .buttons {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .buttons:hover {
    background-color: black;
    color: white;
  }
  .buttons:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }

  span {
    padding: 1em;
  }

  .blue{
    font-weight: bold;
    color: blue;
  }

  .teal{
    font-weight: bold;
    color: teal;
  }

  .green{
    font-weight: bold;
    color: green;
  }

  .yellow{
    font-weight: bold;
    color: yellow;
  }

  .red{
    font-weight: bold;
    color: red;
  }

  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }