* {
    margin: 0;
    padding: 0;
}
#navigationBar {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: #242323;
    overflow: hidden;
}
#navigationBar li {
    display: inline;
    text-align: center;
    padding: 14px 16px;
    color: white;
    background-color: #242323;
}


#navigationBar li:hover {
    background-color: #95b7c4;
}