<h1>{{title}}</h1>
<div *ngIf="currentUser">
    <p>Hello, {{currentUser.firstName}}</p>
    <button mat-raised-button (click)="logout()">Log out</button>
</div>
<br>
<ul id="navigationBar">
    <li id="home" [routerLink]="'/'">Home</li>
    <li id="board"[routerLink]="'/board'">Board </li>
    <li id="dogs" [routerLink]="'/dogs'">Dogs</li>
    <li id="volunteers" [routerLink]="'/'">Volunteers</li>
    <li id="Log in" [routerLink]="'/login'">Log in</li>
</ul>
<br>

<router-outlet></router-outlet>